*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    line-height: 80px;
    background: linear-gradient(30deg,teal,black);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    color: wheat;
}

#check,.checked{
    display: none;
}

.list{
    display: flex;
    list-style: none;
}

.list li a {
    text-decoration: none;
    padding: 10px;
    transition: all 1s;
    color: white;
}

.list input{
    border-radius: 30px;
    width: 100px;
}

@media screen and (max-width:800px) {
    .list{
        display: flex;
        flex-direction: column;
        position: fixed;
        background: linear-gradient(teal,black);
        color: white;
        height: 100vh;
        width: 100%;
        top: 80px;
        left: 99%;
        transition: all 1s;
        text-indent: 30px;
        
    }
    .checked{
        display: block;
    }
    #check:checked~ul{
        left: 60%;
    }
}